.wedding-container {
  width: 100%;
  background-color: var(--default-color);
  justify-items: center;
  padding: 50px 0;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.wedding-card-conteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 90%;
}

.wedding-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  width: 30%;
  height: 500px;
}

.wedding-card-text {
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.wedding-card img {
  width: 200px;
  height: 200px;
  border-radius: 5%;
}

.wedding-card h2,
.wedding-card p,
.wedding-card span {
  color: var(--default-color);
}

.wedding-button h4,
.wedding-button p {
  color: var(--default-color);
}

.wedding-card span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.wedding-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* .wedding-button-container img {
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
} */

.wedding-button {
  text-align: center;
  margin: 20px;
}

.wedding-button-container {
  color: var(--default-color);
}

.wedding-button-container:hover {
  color: var(--secondary-color);
}

.wedding-button .button {
  display: inline-block;
  text-decoration: none;
  background-color: var(--secondary-color);
  padding: 10px 10px;
  border-radius: 5px; 
  font-size: 16px;
  font-weight: bold; 
  border: 1px solid transparent;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--default-color);
  border: 1px solid var(--secondary-color);
}

.wedding-button .button p {
  margin: 0;
  padding: 5px 0;
}

.wedding-button .button:hover h4,
.wedding-button .button:hover p {
  color: var(--secondary-color);
}

.google-maps-icon {
  width: 50px;
}

@media (max-width: 768px) {
  .wedding-card-conteiner {
    flex-direction: column;
  }

  .wedding-card {
    width: 80%;
  }

  .button {
    width: 80%;
    font-size: 1rem;

  }
}