.timeline-container {
  background-color: var(--secondary-color);
  width: 100%;
}

.timeline {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.timeline-title {
  color: var(--default-color);
  width: 100%;
  text-align: center;
}

.timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  gap: 0px;
  margin-bottom: 70px;
}

.timeline-item .image-container {
  height: 70vw;
  width: 70vw;
  display: flex;
  border-radius: 50%;
  align-items: center;
  overflow: hidden;
  margin: 0;
}

.timeline-item .image {
  object-fit: cover;
  height: 80vw;
  width: 80vw;
}

.time-text-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 400px;
  width: 100%;
  color: var(--default-color);
  gap: 20px;
}

.time-text-date {
  font-family: var(--default-font);
  font-size: 20px;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  background: var(--default-color);
  transform: translateX(-50%);
  display: none;
}

.point {
  position: absolute;
  left: 50%;
  width: 10px;
  height: 10px;
  background: var(--default-color);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.point:nth-child(1) {
  top: 10.5%;
}

.point:nth-child(2) {
  top: 36.8%;
}

.point:nth-child(3) {
  top: 63.3%;
}

.point:nth-child(4) {
  top: 89.5%;
}

@media (min-width: 768px) {
  .timeline-item {
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
    gap: 20px;
  }

  .timeline-item .text-container {
    max-width: 800px;
    width: 40%;
    color: var(--default-color);
    text-align: left;
  }
  .time-text-container {
    width: 40%;
    text-align: left;
  }

  .timeline-item .image-container {
    width: 30vw;
    height: 30vw;
  }

  .timeline-item .image {
    height: 100%;
    width: 100%;
  }

  .time-text-date{
    font-size: 25px;
  }

  .timeline-item:nth-child(even) {
    flex-direction: row-reverse;
  }

  .timeline-item:nth-child(even) .text-container {
    text-align: right;
  }
  .timeline::before {
    display: block;
  }
  .point {
    display: block;
  }
}
