body {
  margin: 0;
  padding: 0;
}

.timeline-container {
  background-color: var(--secondary-color);
  width: 100%;
}

.timeline {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.timeline-title {
  color: var(--default-color);
  width: 90%;
  text-align: center;
  padding: 20px;
}

.timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  justify-content: space-around;
  gap: 50px;
  margin-bottom: 50px;
}

.timeline-item .image-container {
  width: 200px;
  height: 200px;
  border: 2px solid var(--default-color); /* Larger border */
  display: flex;
  border-radius: 50%;
  align-items: center;
  overflow: hidden; /* Ensure content does not overflow the circle */
}

.timeline-item .image {
  width: 100%; /* Image size is slightly smaller than the container */
  height: 100%; /* Image size is slightly smaller than the container */
  object-fit: cover; /* Make sure the image maintains its aspect ratio */
}

.timeline-item .text-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 80%;
  color: var(--default-color);
  gap: 15px;
}

/* Add a vertical line */
.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  background: var(--default-color);
  transform: translateX(-50%);
  display: none;
}

@media (min-width: 768px) {
  .timeline-item {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .timeline-item .text-container {
    max-width: 800px;
    width: 40%;
    color: var(--default-color);
    text-align: left;
  }

  .timeline-item .image-container {
    width: 400px;
    height: 400px;
  }

  .timeline-item:nth-child(even) {
    flex-direction: row-reverse;
  }

  .timeline-item:nth-child(even) .text-container {
    text-align: right;
  }
  .timeline::before {
    display: block;
  }
}
